
@{
    Layout = null;
}

@model AuthenticationClient.Models.HelloClient

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm("Index", "Hello", FormMethod.Post)) {
        @Html.LabelFor(model => model.UserName)
        @Html.TextBoxFor(model => model.UserName)
        @Html.LabelFor(model => model.Password)
        @Html.PasswordFor(model => model.Password)
        <input type="submit" value="Login"/>
    }
    <div>
        @ViewBag.Result
    </div>
</body>
</html>
